@model WebDp.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BPublisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPublisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRelease)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
